@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

body {
  background-color: #ebebeb;
  margin: 0;
}

.shadow{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
}

.hidden{
  visibility:hidden;
  position: absolute;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 17px; 
  box-sizing: border-box; 
}

.home-left,
.home-right {
  flex: 2; 
  height: calc(100vh - 40px); 
  width: calc(100vw / 2 - 20px); 
  box-sizing: border-box;
}

.home-left {
  flex: 4;
  background-color: #293029;
  border-radius: 10px;
}
.home-right {
  flex: 2;
  margin-left: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  font-family: 'outfit';
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-right input{
  margin-bottom: 20px;
  width: 200px;
  border: 4px solid #1d2022;
  text-align: center;
  font-family: 'outfit';
}
.home-right button{
  padding: 10px;
  border: 2px solid #1d2022;
  transition: all .1s;
}
.home-right button:hover{
  scale: 1.05;
  border-radius: 10px;
}
.home-right form{
  display: flex;
  flex-direction: column;
}
.home-train-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Home Screen Logo */
.logo-2 img{
  width: 35px;
  height: 35px;
}

.logo-2{
  margin: 10px;
  position: absolute;
  font-family: 'outfit';
  font-weight: 700;
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  gap: 15px;
  border-radius: 8px;
  color: white;
  padding: 8px;
}

.logo-words-2{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo3-2{
  font-size: .4em;
}

/* Nav logo */
.logo img{
  width: 35px;
  height: 35px;
}

.logo{
  font-family: 'outfit';
  font-weight: 700;
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  gap: 15px;
  border-radius: 8px;
  color: #1d2022;
  padding: 8px;
}

.logo-words{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo3{
  font-size: .4em;
}




.nav-container{
  display: flex;
  gap: 30px;
  margin: 30px;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

/* .nav-account {
  
} */

.nav-home{
  margin-left: 50px;
}

.nav-home, .nav-locations , .nav-requests , .nav-account, .nav-dashboard{
  font-family: 'outfit';
  text-decoration: none;
  font-size: 1.2em;
  color: #1d2022;
  font-weight: 700;
  padding: 10px;
  border-radius: 13px;

}

.top-dashboard{
  background-color: white;
  display: flex;
  justify-content: center; 
  margin: 30px;
  margin-left: 70px;
  margin-right: 70px;
  height: 42vh;
  border-radius: 20px;
  color: white;
  position: relative;
}

.dash-main{
  font-family: 'outfit';
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  gap: 10px;
  color: #1d2022;
  font-weight: 700;
}

.dash-main-1{
  font-size: 5em;
  /* text-decoration: underline; */
}

.dash-main hr{
  width: 300px;
  height: 6px;
  background-color: #1d2022;
}

.dash-main-2{
  margin-top: 30px;
  font-size: 1.3em;
  color: #1d2022;
}
.dash-main-2 span{
  font-size: .9em;
  color: #1d2022;
}

.dash-main-3{
  font-size: 1.3em;
  color: #1d2022;
}
.dash-main-3 span{
  font-size: .9em;
  color: #1d2022;
}

.filter{
  font-family: 'outfit';
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.filter-1{
  background-color: aqua;
  padding: 12px;
  border: none;
  color: white;
  background-color: #1d2022;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: all .08s;
}
.filter-1:hover{
  color: #1d2022;
  background-color: white;
}

.filter-2{
  margin-left: 5px;
  padding: 4px;
  
}

.filter-bar{
  display: flex;
  background-color: white;
  height: 60px;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 20px;
  flex-direction: row;
  gap: 20px;
  font-family: 'outfit';
  align-items: center;
  color: white;
  transition: all .1s;
}
.filter-bar span{
  color: #1d2022;
  font-weight: 900;
}
.blocked-open{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.blocked-open div:hover{
  cursor: pointer;
  scale: 1.04;
}
.filter-option-blocked, .filter-option-open, .filter-option-maintenance, .filter-option-working, .filter-option-inactive {
  padding: 5px 8px 5px 8px;
  border-radius: 25px;
  background-color: #1d2022;
  transition: all .1s;
}
.filter-option-open-selected, .filter-option-blocked-selected, .filter-option-maintenance-selected, .filter-option-working-selected, .filter-option-inactive-selected {
  padding: 5px 8px 5px 8px;
  border-radius: 25px;
  background-color: #4c504c;
  transition: all .1s;
}


.intersection-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 4rem; 
  width: 100%;
  max-width: 89vw; 
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0.5rem; 
  margin-left: 70px;
}

.intersection-item {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border-radius: 15px;
  transition: all .1s;
  margin-bottom: 15px;
  background-color: #1d2022;
}
.intersection-item:hover {
  scale: 1.05;
  cursor: pointer;
}


.item-img-container {
  position: relative;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.item-img-container img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  display: block;
}

.item-info-container {
  flex: 2;
  padding: 0.5rem; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: 'outfit';
  font-weight: 600;
  align-items: center;
  gap: 10px;
}
.item-info-container span{
  font-weight: 800;
  color: #9c9c9c;
}

.name-reports-container{
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
  gap: 5px;
}

.item-name{
  background-color: white; 
  padding: 2px 8px; 
  border-radius: 50px; 
  font-weight: bold;
  font-family: 'outfit';
  color: #1d2022;
}

.item-reports {
  background-color: #fa4242; 
  padding: 2px 8px; 
  border-radius: 50px; 
  font-weight: bold;
  font-family: 'outfit';
  color: #1d2022;
}

.no-item-reports{
  display: hidden;
}


/* use for toggle between working/notworking/maintenace */
.good-indicator{
  margin: 0 auto;
  background-color: #42fa42;
  width: 50%;
  height: 7px;
  border-radius: 15px;

}
.bad-indicator{
  margin: 0 auto;
  background-color: #fa4242;
  width: 50%;
  height: 7px;
  border-radius: 15px;
}

.maintenance-indicator{
  margin: 0 auto;
  background-color: #d67309;
  width: 50%;
  height: 7px;
  border-radius: 15px;

}

.intersection-add {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border-radius: 15px;
  transition: all .1s;
  margin-bottom: 15px;

  justify-content: center;
  align-items: center;
}
.intersection-add:hover {
  scale: 1.05;
}
.fa-plus{
  color: white;  
  transition: all .2s;
  padding: 10px;
  border-radius: 15px;
  background-color: #1d2022;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.fa-plus:hover{
  cursor: pointer;
  width: 95%;
  height: 95%;
}
.fa-plus svg {
  pointer-events: none;
}

.map-view{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  margin: 8px;
  border-radius: 30px;
  border: none;
  background-color: #1d2022;
  color: white;
  font-family: 'outfit';
  font-size: 1em;
  transition: all .1s;
  width: 200px;
}
.map-view:hover{
  scale: 1.03;
  cursor: pointer;
  background-color: white;
  color: #1d2022;
  border: 1px solid #1d2022;
  width: 220px;
}

.refresh-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
  margin: 8px;
  border-radius: 30px;
  border: none;
  background-color: #1d2022;
  color: white;
  font-family: 'outfit';
  font-size: 1em;
  transition: all .08s;
}
.refresh-button:hover{
  scale: 1.04;
  cursor: pointer;
  background-color: white;
  color: #1d2022;
  border: 1px solid #1d2022
}

.intersection-info{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 15px;
}

.intersection-info-left{
  display: flex;
  flex: 3;
  height: 550px;
  border-radius: 15px;
}

.intersection-info-right{
  display: flex;
  flex: 2;
  background-color: white;
  margin-left: 30px;
  border-radius: 15px;
  font-family: 'outfit';
}

.intersection-info-left img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.intersection-info-name{
  font-family: 'outfit';
  font-size: 1.3em;
  position: absolute;
  background-color: #1d2022;
  color: white;
  padding: 15px 20px 15px 20px;
  margin-left: 20px;
  border-radius: 20px;
}
.intersection-info-name:hover{
  cursor: default;
  scale: 1.01;
}

.intersection-info-name span{
  font-size: .8em;
  color: #9c9c9c;
}

.intersection-info-right{
  display: flex;
  flex-direction: column;
  font-family: 'outfit';
  font-size: 1.1em;
  font-weight: 500;
  gap: 10px;
  padding: 20px;
  color: white;
}

.intersection-info-right h1{
  color: #1d2022;
  font-size: 1.3em;
}

.intersection-info-right div{
  padding: 10px;
  background-color: #1d2022;
  border-radius: 10px;
  transition: all .1s;
  width: 97%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.intersection-info-right div:hover{
  scale: 1.03;
}


.intersection-info-right span{
  font-size: .8em;
  color: #9c9c9c;
}

.intersection-info-2{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 15px;
  margin-top: 28px;
}

.intersection-reports{
  display: flex;
  flex: 6;
  background-color: white;
  border-radius: 15px;
  flex-direction: column;
  font-family: 'outfit';
  margin-bottom: 100px;
  transition: all .1s;
}
.intersection-reports p{
  margin-left: 25px;
  margin-bottom: 30px;
}

.intersection-reports h1{
  display: flex;
  margin-left: 24px;
  font-size: 1.5em;
  align-items: center;
}
.intersection-reports h1 span{
  background-color:#fa4242;
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
  font-size: .8em;

  border-radius: 50px;
}

.intersection-logs {
  display: flex;
  flex: 7;
  background-color: white;
  border-radius: 15px;
  margin-left: 28px;
  font-family: 'Outfit', sans-serif;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 200px;
}

.intersection-logs h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.intersection-logs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 380px; 
  overflow-y: auto;
  padding-right: 10px;
}

.intersection-logs-list::-webkit-scrollbar {
  width: 8px;
}

.intersection-logs-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.log-entry {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: 0.1s;
  font-size: 14px;
  margin-bottom: 10px;
}

.log-entry:hover {
  background-color: #f1f1f1;
  transform: scale(1.01);
}

.log-row {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}

.log-row:last-child {
  border-bottom: none;
}

.log-label {
  font-weight: bold;
  color: #333;
  min-width: 120px;
}

.log-value {
  color: #555;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}




.report-item-1{
  
  transition: all .1s;
  flex: 1;
}
.report-item-1 span{
  color: #9c9c9c;
}
.report-container{
  transition: all .1s;
  display: flex;
  flex-direction: column;
  background-color: #1d2022;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: .8em;
  width: 86%;
}
.report-container:hover{
  scale: 1.02;
}
.report-img {
  flex: 1; 
}

.report-img img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.report-buttons {
  display: flex;
  gap: 15px;
  flex: 1;
}

.report-buttons-text{
  margin-top: 30px;
}

.report-container2{
  display: flex;
  align-items: center; 
  gap: 20px;
  justify-content: space-between;
}

.report-positive{
  padding: 15px;
  background-color: #42fa42;
  font-size: 20px;
  border-radius: 10px;
}
.report-negative{
  padding: 15px;
  background-color: #fa4242;
  font-size: 20px;
  border-radius: 10px;
}

.report-positive:hover, .report-negative:hover{
  cursor: pointer;
  scale: 1.05;
}
.report-item-1 hr{
  display: flex;
  width: 300px;
  height: 2px;
  border-color: #ebebeb;
  background-color: #ebebeb;
  position: absolute;
  margin-top: 15px;
}

.intersection-logs h1{
  display: flex;
  margin-left: 24px;
  font-size: 1.5em;

}

.camera-add-main{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;

}

.camera-add-left{
  display: flex;
  flex: 2;
  background-color: white;
  height: 500px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  font-family: 'outfit';
}

.camera-add-left h1{
  display: flex;
  margin-top: 60px;
}

.camera-add-left hr{
  width: 50px;
  margin-bottom: 20px;
}

.camera-add-right {
  flex: 8;
  background-color: white;
  border-radius: 15px;
  margin-left: 25px;
  display: block; 
}

.camera-add-form{
  display: flex;
  flex-direction: column;
}

.camera-add-form-submit{
  margin-top: 50px;  
  border: 2px solid #1d2022;
  width: 230px;
  height: 40px;
  transition: all .1s;
  font-weight: 700;
}
.camera-add-form-submit:hover{
  scale: 1.04;
  border-radius: 8px;
  cursor: pointer;
}

.camera-add-form input{
  border: 2px solid #1d2022;
}

.camera-add-form label{
  margin-top: 10px;
}

.camera-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.camera-list-item{
  margin: 10px;
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  transition: all .1s;
}
.camera-list-item:hover{
  scale: 1.03;
}


.camera-list-item h1{
  position: absolute;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  margin: 6px;
  font-family: 'outfit';
  font-size: 1.1em;
}

.camera-list-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.request-main{
  display: flex;
  flex-direction: column;
}

.request-main h1{
  margin-left: 80px;
  font-family: 'outfit';
}

.request-container{
  margin: 20px;
  margin-left: 80px;
  font-family: 'outfit';
  display: grid;
  grid-template-columns: repeat(11, 1fr); 

}

.request-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 1px;
}

/*  */

.cities-main{
  display: flex;
  flex-direction: column;
}

.cities-main h1{
  margin-left: 80px;
  font-family: 'outfit';
}

.cities-container{
  margin: 20px;
  margin-left: 80px;
  font-family: 'outfit';
  display: grid;
  grid-template-columns: repeat(11, 1fr); 
}

.city-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 180px;
  width: 280px;
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
  flex-direction: column;
  transition: all .1s;
}
.city-item:hover{
  scale: 1.03;
  cursor: pointer;
}

.city-item-text1{
  font-size: 2em;
}

.city-item-text2{
  color: #4c504c;
}

.maintenance-button{
  display: flex;
  position: absolute;
  border-radius: 25px;
  padding: 10px;
  left: 5px;
  bottom: 5px;
  border: 3px black solid;
  transition: all .1s;
}

.maintenance-button:hover{
  padding: 14px;
  cursor: pointer;
  background-color: #d67309;
}

/* Tab Elements */
/*--------------------------------------------------------------------------------------------------------------------*/

/* For Collapsed Tab */
/* Some elements might be unnecessary, used an online example as a guideline */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}

.keyboard-shortcut-tab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 180px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 9999;
}

/* Width when expanded */
.keyboard-shortcut-tab.expanded {
  width: 300px;
}

.keyboard-shortcut-tab .tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-shortcut-tab .shortcut-list {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.keyboard-shortcut-tab .shortcut-list ul {
  list-style-type: none;
  padding-left: 0;
}

.keyboard-shortcut-tab .shortcut-list li {
  margin: 5px 0;
}

.keyboard-shortcut-tab .shortcut-list h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.keyboard-shortcut-tab span {
  font-size: 14px;
  color: white;
}

/*--------------------------------------------------------------------------------------------------------------------*/
